# Disk host yang akan dijadikan storage NAS.
# HATI-HATI: /dev/sdb akan diformat pada langkah persiapan disk.
NAS_DISK=/dev/sdb
NAS_PARTITION=/dev/sdb1

# Mount point di host
HOST_SHARE=/srv/nas-share

# Nama share SMB dan NFS
SHARE_NAME=nas-share

# User SMB
SMB_USER=xccvme
SMB_PASSWORD=This_2me@oke

# UID/GID pemilik file di dalam share.
# 1000:1000 umum dipakai untuk user Linux pertama.
PUID=1000
PGID=1000

# IP/CIDR yang boleh akses NFS.
# Contoh:
# - satu subnet LAN: 192.168.1.0/24
# - satu IP saja: 192.168.1.10
NFS_ALLOWED="172.16.3.0/24 172.16.101.0/24 172.16.1.0/24 172.16.2.0/24 172.16.4.0/24 172.16.5.0/24" 

# Opsi NFS.
# rw = read/write
# sync = tulis lebih aman dibanding async
# no_subtree_check = umum direkomendasikan untuk share direktori
# no_root_squash = root client tetap root di server; nyaman tapi kurang aman.
# Untuk lebih aman, ganti no_root_squash menjadi root_squash.
NFS_OPTIONS=rw,sync,no_subtree_check,no_root_squash
